@charset "utf-8";

/* CSS Document */

body,
td,
th,
p {
    color: #333;
}

body {
    background-color: #fdfdfd;
    margin: 0;
}

ul,
li {
    font-family: 'Amatic SC', cursive;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Amatic SC', cursive;
}

article,
aside,
canvas,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav {
    display: grid;
}

#container {
    background-color: #f3f3f3;
    min-height: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: auto;
    grid-template-rows: 10vh auto 5vh;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}


@media screen and (orientation: landscape) {
    #maincontent {
        background-color: #f3f3f3;
        min-height: 100%;
        grid-area: main;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: "list map";
    }

    #maincontentdetails {
        background-color: #f3f3f3;
        min-height: 100%;
        grid-area: main;
        display: grid;
        grid-template-columns: 30% 30% 40%;
        grid-template-rows: 50px auto;
        grid-template-areas: "links links map" "rest reviews map";
    }
}

#header {
    grid-area: header;
    background-color: #444;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

#footer {
    grid-area: footer;
    font-family: 'Amatic SC', cursive;
    background-color: #444;
    color: #fff;
    font-size: 4vh;
    padding-top: 0;
    text-align: center;
}


#list-container {
    grid-area: list;
    background-color: #444;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15vh auto;
    grid-template-areas: "filter" "listing";
    text-transform: uppercase;
}



/* ====================== Scroolbar ====================== */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}


::-webkit-scrollbar-track {
    border-width: 0;
}

::-webkit-scrollbar-track:hover {
    border-left: solid 1px #aaa;
    background-color: #eee;
}


/* ====================== Navigation ====================== */

nav {
    width: 100%;
    background-color: #252831;
    text-align: center;
}

nav h1 {
    margin: auto;
}

nav h1 a {
    font-size: 4vh;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
}

#breadcrumb {
    grid-area: links;
    font-size: 5vh;
    list-style: none;
    background-color: #3397DB;
    margin: 0;
    padding-top: 0.5vh;
    padding-left: 2.5vh;
    color: white;
}


/* Display list items side by side */

#breadcrumb li {
    display: inline;
}


/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
    padding: 28px;
    color: white;
    content: "/\00a0";
}


/* Add a color to all links inside the list */

#breadcrumb li a {
    color: white;
    text-decoration: none;
}


/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: orange;
    text-decoration: underline;
}


/* ====================== Map ====================== */

#map {
    background-color: #ccc;
}


/* ====================== Restaurant Filtering ====================== */

.filter-options {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #3397DB;
    align-items: center;
    grid-area: filter;
}

.filter-options h2 {
    color: white;
    font-size: 3vh;
    font-weight: normal;
    padding: 0;
    margin: 5px;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 5vh;
    letter-spacing: 0;
    width: 40%;
}

#cuisines-select {
    margin-top: 10px;
}


/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    grid-area: listing;
    padding: 15px 15px 0 15px;
    text-align: center;
    overflow: auto;
}

#restaurants-list li {
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    margin-bottom: 15px;
    display: grid;
    -webkit-box-shadow: 0px 5px 36px 0px rgba(102, 102, 102, 1);
    -moz-box-shadow: 0px 5px 36px 0px rgba(102, 102, 102, 1);
    box-shadow: 0px 5px 36px 0px rgba(102, 102, 102, 1);
    align-self: center;
    text-align: left;
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    width: 100%;
    margin: 0;
}

#restaurants-list li h1 {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt;
}

#restaurants-list li a {
    background-color: orange;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    width: 20vh;
    padding: 8px 0px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 0px;
}

#map-container {
    background: blue none repeat scroll 0 0;
    height: 100%;
    width: 100%;
    grid-area: map;
    display: grid;
}


/* ====================== Restaurant Details ====================== */

.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside #footer {
    bottom: 0;
    position: absolute;
    width: 50%;
}

#restaurant-name {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
}

#restaurant-img {
    width: 100%;
    margin: 0;
}

#restaurant-address {
    font-size: 2vh;
    margin: 10px 0px;
    padding: 5px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 2vh;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0;
    margin-top: -5px;
    padding: 2px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 3vh;
}

#restaurant-container {
    grid-area: rest;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vh;
    overflow: auto;
}

#reviews-container {
    grid-area: reviews;
    overflow: auto;
}

#reviews-container h2 {
    color: #f58500;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
    padding-left: 5px;
    margin: 0;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list li {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 85%;
}

#reviews-list li p {
    margin: 0 0 10px;
}

#restaurant-hours td {
    color: #666;
    padding: 5px;
}


@media screen and (orientation: portrait) {
    #maincontent {
        background-color: #f3f3f3;
        min-height: 100%;
        grid-area: main;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 65% 35%;
        grid-template-areas: "list" "map";
        min-width: 330px;
        overflow-x: auto;
    }

    #restaurant-container,
    #reviews-container {
        font-size: 2.5vh;
    }


    #restaurant-address {
        font-size: 2.5vh;
    }

    #reviews-list {
        font-size: 2.5vh;
    }

    #maincontentdetails {
        background-color: #f3f3f3;
        min-height: 100%;
        grid-area: main;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto 25vh;
        grid-template-areas: "links" "rest" "reviews" "map";
    }

    #restaurant-img {
        width: 100%;
        margin: 0;
    }
}



#restaurants-list .restaurant-img {
    text-align: left;
}

#restaurants-list li {
    grid-template-columns: 20vh auto;
    grid-template-rows: auto;
    margin-bottom: 15px;
    text-align: left;
}

#list-text {
    padding-left: 15px;
    padding-right: 15px;
}